body {
    background-color: hsla(0, 75%, 68%, 0.5);
}
.Card {
    align-items: center;
    border: 2px solid #edc76c;
    height: 425px;
    width: 260px;
    margin-left: 40px;
    background-color: #edc76c;
    border-radius: 5px;
    display: inline-block;
    box-shadow: 5px 5px 5px black;
    transition: 0.5s;
    text-align: center;
}

img {
    height: 257px;
    width: 250px;
    margin: 5px;
    border-radius:5px 5px 5px 5px;
    transition: 0.5s;
}

h3 {
    text-align: center;
    background-color: #57c4e5;
    border-radius: 5px;
    padding: 3px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 25px;
    transition: 1s;
}

p {
    text-align: center;
    font-size: 16px;
    margin-left: 25px;
    margin-right: 25px;
    transition: 1s;
    visibility:;
}

.Card:hover {
    box-shadow: 10px 10px 18px black;
}

img:hover {
    border-radius: 50%;
}

h3:hover {
    background-color: black;
    color: white;
    border-radius: 20px;
}

p:hover{
    color: rgb(255, 255, 255);
}